---
const {
  id = "",
  url = "",
  href = "",
  title = "",
  subtitle = "",
  imageSrc = "",
  imageAlt = "",
} = Astro.props;
---

<a
  id={id}
  href={href}
  class="relative rounded-lg flex items-stretch border-2 border-card-border
  bg-card-background
  shadow-[4px_4px_0px_#c4dc72]
  hover:shadow-[6px_6px_0px_#c4dc72]
  hover:translate-x-[2px]
  hover:translate-y-[2px]
  transition-all
  duration-200
  ease-in-out
  group"
  target="_blank"
  rel="noopener noreferrer"
>
  <!-- Contenedor izquierdo: Imagen -->
  <div
    class="w-[92px] aspect-square rounded-l-lg overflow-hidden flex-shrink-0 border-hub-border
        dark:border-hub-border-dark
      dark:bg-hub-background"
  >
    <img src={imageSrc} alt={imageAlt} class="w-full h-full object-cover" />
  </div>

  <!-- Contenedor derecho: Información -->
  <div class="pl-2">
    <div class="w-full grid grid-rows-[auto_1fr_auto]">
      <h2
        class="font-bold text-base text-card-text overflow-hidden text-ellipsis whitespace-nowrap"
      >
        {title}
      </h2>
      <h3
        class="text-card-text text-xs overflow-hidden text-ellipsis line-clamp-2"
      >
        {subtitle}
      </h3>

      <small class="absolute text-card-text text-[10px] bottom-2">{url}</small>
    </div>
  </div>
</a>
