---
import { getI18N } from "@/i18n";
import ArrowUpRight from "../icons/ArrowUpRight.astro";
import NewBadge from "./NewBadge.astro";

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const {
  id = "",
  date = "",
  href = "#",
  title = "Título predeterminado",
  description = "Subtítulo predeterminado",
  imageSrc = "",
  imageAlt = "Ícono predeterminado",
  status = "", // Nueva prop para controlar el badge con texto
} = Astro.props;
---

<!-- border-hub-border
   dark:border-hub-border-dark
   hover:drop-shadow-md
   hover:bg-hub-background-nav
   dark:bg-hub-background-nav-dark
   hover:dark:bg-hub-background-dark group
   shadow-[4px_4px_0px_#c4dc72] 
   shadow-[rgba(0,0,0,0.2)_0px_8px_0px,_rgb(232,255,138)_0px_8px_0px]--><!-- <a
  id={id}
  href={href}
  data-section={id}
  class="relative rounded-lg flex items-stretch border-2 border-card-border
  bg-card-background shadow-[4px_4px_0px_#c4dc72]"
  target="_blank"
  rel="noopener noreferrer"
> -->
<a
  id={id}
  href={href}
  data-section={id}
  class="relative rounded-lg flex items-stretch border-2 border-card-border
  bg-card-background
  shadow-[4px_4px_0px_#c4dc72]
  hover:shadow-[6px_6px_0px_#c4dc72]
  hover:translate-x-[2px]
  hover:translate-y-[2px]
  transition-all
  duration-200
  ease-in-out
  group"
  target="_blank"
  rel="noopener noreferrer"
>
  <!-- Badge de "status" -->
  {
    status && (
      <div
        class=" absolute right-[22px] bottom-[3px] bg-sky-500/70
       text-white 
       text-[11px] 
       font-medium px-2 py-0.5 rounded-lg shadow-md z-10"
      >
        {status}
      </div>
    )
  }

  <div
    class="w-[92px] aspect-square rounded-l-lg overflow-hidden flex-shrink-0 border-hub-border
        dark:border-hub-border-dark
      dark:bg-hub-background"
  >
    <img src={imageSrc} alt={imageAlt} class="w-full h-full object-cover" />
  </div>

  <div class="pl-2">
    <div class="w-full grid grid-rows-[auto_1fr_auto]">
      <h2
        class="font-bold text-base text-card-text overflow-hidden text-ellipsis whitespace-nowrap"
      >
        {title}
      </h2>

      <small
        class="text-card-text text-xs overflow-hidden text-ellipsis line-clamp-2"
      >
        {description}
      </small>

      <small class="absolute text-card-text text-[10px] bottom-2">{date}</small>
    </div>

    <ArrowUpRight
      class="absolute right-0 bottom-0 size-6 text-card-text transition-transform duration-300 ease-in-out group-hover:rotate-45"
    />
  </div>
</a>
