---
import Card from "../components/Card.astro";
import { cardsData } from "../data/projects.js";
import NoDataCard from "../components/NoDataCard.astro";
import { getI18N } from "@/i18n";

// const cardsData: any[] = [];
//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  {
    cardsData.length > 0 ? (
      cardsData
        .slice() // Crear una copia para no mutar el array original
        .reverse()
        .map((card) => (
          <Card
            id={card.id}
            date={card.date}
            href={card.href}
            title={card.title}
            status={card.status}
            description={card.description}
            imageSrc={card.imageSrc}
            imageAlt={card.imageAlt}
          />
        ))
    ) : (
      <NoDataCard
        message={i18n.PROJECTS.empty.message}
        subtitle={i18n.PROJECTS.empty.message2}
        imageSrc="/img/notion/white/my-notion-face-transparent_9.png"
      />
    )
  }
</div>
